@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin align-center {
  display: flex;
  align-items: center;
}

@mixin tablet-up {
  @media only screen and (min-width: 821px) {
    @content;
  }
}
