@use "./config/mixins" as mixin;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 64%;
}

.container {
  min-width: 364px;
  min-height: 100vh;
  padding: 4rem 1.5rem;
  background-color: #dfdfdf;
  display: flex;
  flex-direction: column;
  @include mixin.tablet-up {
    padding: 1.5rem;
  }
}
