* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 64%;
}

.container {
  min-width: 390px;
  min-height: 100vh;
  padding: 1.5rem;
  // margin: 0 auto;
  background-color: #dfdfdf;
  display: flex;
  flex-direction: column;
}
